* text=auto eol=lf

*.scala text eol=lf
*.sbt text eol=lf
*.conf text eol=lf
*.md text eol=lf
.gitmodules text eol=lf
*.sh text eol=lf
scripts/sbtw text eol=lf
scripts/verify text eol=lf
*.cmd text eol=crlf

*.jar binary
*.nbt binary
*.png binary
*.gif binary
*.ogg binary
*.dll binary
*.so binary
*.dylib binary
